layers_path = Not set
maxent_path = Not set
biasfile_path = Not set
maxent_beta = 1
suitability_type = logistic
options_show_maxent = no
output_directory = /Users/danwarren/Downloads/Sam
projection_directory = Not set
layers_type = Layers directory
jackboot_keepreps = 0
rangebreak_keepreps = 0
identity_keepreps = 0
background_keepreps = 0
options_memory = -mx512m
options_pictures = 
options_responsecurves = 
options_rocplots = 
removedupes = removeduplicates
large_overlap = 0
maxent_version = 